* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #191c32;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
section {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

section h2 {
    margin-top: 0;
}
footer {
    background: #191c32;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}
